python-dotenv
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python
pygame
edge-tts
PyQt5
faster-whisper 
sounddevice 
numpy 
scipy 
deep-translator
pyttsx3 